/* src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: nice scrollbar hide */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}